<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="/static/js/emojiByScore_1_sec.js" defer></script>
    <script src="/static/js/sentimentLevel_number_1_sec.js" defer></script>
    <script src="/static/js/sentimentLevel_number_1_min.js" defer></script>
    <script src="/static/js/sentimentScore_TimeSeries.js" defer></script>
    <script src="/static/js/top5_hashtag_1_min.js" defer></script>

<!--    The script down below is for dashboard FakeData_generator without data flowing from third-party.-->
    <script src="/static/js/FakeData_generator/fakeData_sentimentLevel_number_1_sec.js" defer></script>
    <script src="/static/js/FakeData_generator/fakeData_sentimentLevel_number_1_min.js" defer></script>
    <script src="/static/js/FakeData_generator/fakeData_sentimentScore_TimeSeries.js" defer></script>
    <script src="/static/js/FakeData_generator/fakeData_top5_hashtag_1_min.js" defer></script>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/style.css">
    <title></title>
</head>
<body>
    <section class="top">
        <div class="first">
            <canvas id="reactNumPerSecBar"></canvas>
        </div>

        <div class="second">
            <div class="top">
                <span id="reactScorePerSec">0</span>
            </div>
            <div class="bottom">
                <img id="emojiByScorePerSec" src="/static/imgs/positive.png">
            </div>
        </div>

        <div class="third">
            <canvas id="reactScorePerSecTimeSeries"></canvas>
        </div>
    </section>

    <section class="bottom">
        <div class="first">
            <div class="secondary_box">
                <canvas id="reactNumPerMinDonut"></canvas>
            </div>
        </div>

        <div class="second">
            <div class="secondary_box">
                 <canvas id="top5HashTagPerMinHorizBar"></canvas>
            </div>
        </div>
    </section>
</body>
</html>